html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
  background-color: #23252C;
}

.all-content {
  text-align: center;
}

/* Info.js starts here */

.professional-img {
  width: 400px;
  height: 400px;
  border-radius: 15px 15px 0px 0px;
  display: block;
  margin: auto;
  margin-top: 120px;
}

.info {
  background-color: #1A1B21;
  width: 400px;
  margin: auto;
}

.name {
  color: #FFFFFF;
  margin: 0;
  padding: 20px 0px 0px 0px;
  font-size: 2.6rem;
}

.occupation {
  color: #F3BF99;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.website-link-text {
  margin: 0;
  padding: 10px 0px;
}

.website-link {
  color: #F5F5F5;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
}

.website-link:hover {
  color: #5093E2;
}

.email-btn, .linkedin-btn {
  font-size: 1.2rem;
  width: 150px;
  margin: 12px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.email-btn {
  color: #374151;
}

.linkedin-btn {
  background-color: #5093E2;
  color: #FFFFFF;
}

.email-btn:hover {
  color: #FFFFFF;
  background-color: #374151;
}

.linkedin-btn:hover {
  color: #5093E2;
  background-color: #FAF9F6;
}

.email-icon {
  padding-right: 12px;
}

.linkedin-icon {
  padding-right: 12px;
}

/* Info.js ends here, About.js starts here*/

.main-content-about {
  background-color: #1A1B21;
  width: 400px;
  margin: auto;
  padding: 0px 40px 20px 10px;
}

.about-heading {
  margin: 0;
  color: #FFFFFF;
  text-align: left;
  padding: 20px 0px 0px 30px;
  font-size: 1.6rem;
}

.about-text {
  color: #DCDCDC;
  text-align: left;
  padding: 5px 0px 15px 30px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

.interests-heading {
  margin: 0;
  color: #FFFFFF;
  text-align: left;
  padding: 10px 0px 0px 30px;
  font-size: 1.6rem;
}

.interests-text {
  color: #DCDCDC;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 0px 15px 30px;
  margin: 0;
}

/* About.js ends here, Footer.js starts here */

.footer {
  background-color: #161619;
  width: 400px;
  margin: auto;
  margin-bottom: 120px;
  height: 100px;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-icon, .instagram-icon, .github-icon {
  font-size: 3rem;
  color: #918E9B;
  margin: 20px;
}

.facebook-icon:hover, .instagram-icon:hover, .github-icon:hover {
  color: #DCDCDC;
}

/* Footer ends here */